<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'result.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>텍스트 입력</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
        </style>
</head>
<body>
    <div class="layout">
    <div class="header">
    <h1>LIKELION_input("문장을 입력하세요: ")</h1>
    </div>
  
    <div class="answer">
    
    <form action="{% url 'result' %}" method="post">{% csrf_token %}
        <textarea name="text" id="" style="width: 400px; height: 300px;" ></textarea>
        <br>
        <div class="sub">
        <input type="submit" value="제출">
        </div>
    </form>
    </div>
    </div>
</body>
</html>